<div id="bra">
  <div class="container pt-5 pb-5">
    <form action="/bra" method="post">
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      <h1>create new bra</h1>
      <div>
        <hr class="mt-4 mb-4" />
        <h4>Hier kannst du ein neues Bh-Model anlegen:</h4>

        <!-- 

        <div class="container">
          <form action="/meal/  <% /* %>  <%= meal.id %>  /update" method="post">
              <div>
                  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                  <input type="hidden" name="id" value="<%= meal.id %>">
                  <div>
                      <label>Name</label>
                  </div>
                  <div>
                      <input type="text" maxlength="80" name="name" value="<%= meal.name %>">
                  </div>
                  <div>
                      <label>Preis</label>
                  </div>
                  <div>
                      <input type="text" maxlength="8" name="price" value="<%= meal.price %>">
                  </div>
                  <div>
                      <label>Beschreibung</label>
                  </div>
                  <div>
                      <input type="text" maxlength="255" size="40" name="description" value="<%= meal.description %>">
                  </div>
              </div>
              <button type="submit">
                  Aktualisieren
              </button>
              <% */ %>
          </form>
      </div>
     -->




        <div class="form-group">
          <label for="bh-model">Bh Model Name</label>
          <input type="text" class="form-control" id="bh-model" name="model" placeholder="Bh Model"
            autocomplete="name" maxlength="120" focus-first>
        </div>


        <div class="form-group">
          <label for="bh-marke">Bh Markenname</label>
          <input class="form-control" id="bh-marke" name="marke" type="text" placeholder="Bh Markenname"
            autocomplete="name" maxlength="120" focus-first>
        </div>

              
        <div class="form-group">
            <label for="bh-form">Bh Form</label>
            <input class="form-control" id="bh-form" name="form" type="text" placeholder="Bh Form" autocomplete="name" focus-first>
          </div>
 
        <div class="form-group">
            <label for="bh-groesse">Bh Größe</label>
            <input class="form-control" id="bh-groesse" name="groesse" type="text" placeholder="Bh Größe" autocomplete="name" focus-first>
          </div>
        
          <div class="form-group">
            <label for="bh-stil">Bh Stil</label>
            <input class="form-control" id="bh-stil" name="stil" type="text" placeholder="Bh Stil" autocomplete="name" focus-first>
          </div>

          <div class="form-group">
            <label for="bh-farbe">Bh Farbe</label>
            <select class = "form-control" name="farbe" id="farbe">
              <option value="rot">Rot</option>
              <option value="schwarz">Schwarz</option>
              <option value="weiss">Weiß</option>
              <option value="bunt">Bunt</option>
            </select>
          </div>

          

          <div class="form-group">
            <label for="bh-muster">Bh Muster</label>
            <input class="form-control" id="bh-muster" name="muster" type="text" placeholder="Bh Muster" autocomplete="name" focus-first>
          </div>

          <div class="form-group">
            <label for="bh-bewertung">Bh Bewertung</label>
            <input class="form-control" id="bh-bewertung" name="sternebewertung" type="text" placeholder="Bh Bewertung" autocomplete="name" focus-first>
          </div>

          <div class="form-group">
            <label for="bh-link">Shopping-Link</label>
            <input class="form-control" id="bh-link" name="shoppingLink" type="text" placeholder="Shopping-Link" autocomplete="name" focus-first>
          </div>



        <!-- <ajax-button type="submit" :syncing="syncing" class="btn btn-dark">Save changes</ajax-button> -->



        <p> this page is not finished</p>
        <button type="submit" class="btn btn-primary">Hinzufügen</button>

      </div>

  </div>

  </form>
</div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>