<div id="empfehlungen" class="text-left">
  <div class="container mt-3 mb-3">
    <h5>Deine Präferenzen</h5>
    <table class="table table-borderless">
      <tr>
        <th>Farben</th>
        <td>
          <% for (const farbe of lieblingsFarben) { %>
            <span class="badge btn_color mr-1"><%= farbe %></span>
          <% } %>
        </td>
      </tr>
      <tr>
        <th>Formen</th>
        <td>
          <% for (const form of lieblingsFormen) { %>
            <span class="badge btn_color mr-1"><%= form %></span>
          <% } %>
        </td>
      </tr>
    </table>

    <h5>Unsere Empfehlungen</h5>
    <div class="card-deck">
      <% for (const bra of bras) { %>
        <div class="col-md-6 col-xl-4 mt-3">
          <div class="card">
            <img class="card-img-top" src="<%= bra.bildpfad %>" alt="Model wearing the bra">
            <div class="card-body">
              <h5 class="card-title"><%= bra.model %></h5>
              <p class="card-text">
                <table class="table table-sm">
                  <tr>
                    <th>Marke</th>
                    <td><%= bra.marke %></td>
                  </tr>
                  <tr>
                    <th>Form</th>
                    <td><%= bra.form %></td>
                  </tr>
                  <tr>
                    <th>Stoff</th>
                    <td><%= bra.stoff %></td>
                  </tr>
                </table>
              </p>
            </div>
            <!-- Info, die Links wären dann in einem echten Geschäftsmodell Affiliate-Links -->
            <div class="card-footer">
              <a href="<%= bra.shoppingLink %>" class="btn btn_color">Zum Shop</a>
            </div>
          </div>
        </div>
        <% } %>
    </div>

    <h5 class="mt-3">Teile deine Empfehlungen</h5>
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
  </div>
</div>